<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293336016954-dh7h475oitn4fo2bq5h097fh2nnlc3bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293336016954-dh7h475oitn4fo2bq5h097fh2nnlc3bh</string>
	<key>API_KEY</key>
	<string>AIzaSyCbLH2FAV7C16Bpg1uz2bPB7feswbiQNxI</string>
	<key>GCM_SENDER_ID</key>
	<string>293336016954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resumeAi</string>
	<key>PROJECT_ID</key>
	<string>resumeai-85eac</string>
	<key>STORAGE_BUCKET</key>
	<string>resumeai-85eac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293336016954:ios:b9a1c44e9a91188d942d03</string>
</dict>
</plist>